deep_translator==1.11.4
gdown==5.2.1
gensim==4.4.0
ipython==8.12.3
langdetect==1.0.9
matplotlib==3.10.8
nltk==3.9.2
numpy==2.4.3
pandas==3.0.1
pca==2.10.2
plotly==6.6.0
Requests==2.32.5
scikit_learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
selenium==4.41.0
textblob==0.19.0
wordcloud==1.9.4
yellowbrick==1.5
